{% extends 'AntWebBundle::layout.html.twig' %}
{% block content %}
    {{ include('AntWebBundle:Ad:id_one.html.twig') }}
    <div class="row">
        <div id="set">
            {{ include('AntWebBundle:Ad:id_two.html.twig') }}
        </div>
    </div>
    <div class="row">
        {{ include('AntWebBundle:Ad:id_three.html.twig') }}
    </div>
    <div>
        {{ render(controller('AntMediaBundle:Gallery:last', {'max': 5})) }}
    </div>
    <div>
        {{ render(controller('AntWebBundle:News:last', {'max': 1})) }}
    </div>
{% endblock %}
